<div class="border p-3 rounded mb-4">
<div class="d-flex justify-content-center p-2">
<div>
<%= turbo_frame_tag "new_restaurant" do %>
  <%= render 'restaurants/form' %>
<% end %>
</div>
  <%# <strong>Address:</strong> <%= restaurant.address %>
  </div>
</div>
